
 @media screen and (max-width:1079px){


    .mv-txt-1{
        font-size: 28px;
    }


 }

    @media screen and (max-width:767px){


        .inner{
            max-width: 757px;
            margin-left: auto;
            margin-right: auto;
            /* padding: 0 15px; */
            /* box-sizing: border-box; */
        }

        .mv{
            padding: 10px 0 100px;
        }


       .mv-inner{
           flex-direction: column;
           align-items: center;
       }

       .mv-img{
           order: -1;
           margin-left: auto;
           margin-right: auto;
       }

       .mv-txt-box{
           text-align: center;

       }

       .mv-txt-1{
           width: 100%;
           margin: 10px 0 22px 0;
           line-height: 1.7;
           font-size: 30px;
       }

       .mv-txt-1 br{
           display: block;
       }

       .mv-txt-box img{
           width: 50%;
       }

       .mv-txt-2{
           margin-bottom: 20px;

       }

       .mv-txt-2 br{
           display: block;
       }

       .mv-btn-box{
           flex-direction: column;
           display: inline-block;
       }

       .contact a{
           margin: 0 0 15px 0;
       }

       .reqest a{
        white-space: nowrap;
       }

       h2::before,
       h2::after{
        width: 100px;
    }

    .section-ttl{
        margin-bottom: 80px;
    }

    .section-ttl::before {
        margin-right: 20px;
        padding-left: 15px;
    }
    
    .section-ttl::after {
        margin-left: 20px;
        padding-right: 15px;
    }

       .service-contents{
           flex-direction: column;
       }

       .service-contents img{
           width: 90%;
       }

       .service-img-wrapper{
           flex-direction: column;
       }

       .survice-img{
           width:53%;
           margin-left: auto;
           margin-right: auto;
       }

       .survice-img-card p{
           margin-bottom: 50px;
       }

       .about{
           margin-top: 50px;
       }

       .about-box-1{
           flex-direction: column;
           margin-top: 0;
           max-width: 450px;
           width:100%;
           margin-left:auto;
           margin-right:auto;
       }

       .about-img-1{
           order: -1;
           height: auto;
           max-width: 100%;
           margin-left: 0;
       }

       .about-txt-1{
           margin-top: 50px;
           margin-left: 0;
           max-width:450px;
           width:100%;
       }

       .about-box-2{
           flex-direction: column;
       }

       .about-box-2-img{
           height: auto;
           max-width: 450px;
           width:100%;
           margin-left:auto;
           margin-right:auto;
           /* margin: 70px 0 0 0; */

       }

       .about-box-img{
           order: -1;
           margin-left: 0;
           max-width: 450px;
           width:100%;
       }

       .about-txt-2{
           margin-left: 0;
           max-width: 450px;
           width:100%;
       }

       .about-txt-2 h3{
           margin-top: 50px;
       }

       .recruit-txt{
           margin-top: 30px;
       }


       .news-inner{
           margin-top: 100px;
       }

       .news-box{
           flex-direction: column;
       }

       .news-box img{
           width: 80%;
           margin: 0 auto;
       }

       .news-txt-box{
           width: 92%;
       }

       .news-txt{
           margin: 24px 0 18px;
       }

       .more-btn a{
        padding: 0;
        margin: 0 auto;
        display: block;
        width: 166px;
        text-align: center;
        height: 48px;
        line-height: 48px;
       }

       .footer-inner{
           flex-direction: column;
           padding-top: 30px;
       }


       .footer-list{
           display: inline-block;
           flex-direction: column;
           /* justify-content: space-around; */
           margin-top: 30px;
           text-align: center;

       }

       .footer-list li + li{
           border-left: none;
       }

       .footer-list li:nth-child(-n+3){
           margin-bottom: 12px;
       }

       li:last-child a{
        margin-left: 0;
    }

       small{
           display: block;
           margin-top: 40px;
       }

       @media screen and (max-width:450px){
        

        h2{
            font-size: 28px;
        }

        .about-ttl .line{
            margin: 18px 20px 0 0;
        }

        .about-ttl .line-2{
            margin: 18px 0 0 20px;
        }

        .section-ttl{
            font-size: 28px;
        }

        .section-ttl::before{
            margin-right: 20px;
        }

        .section-ttl::after{
            margin-left: 20px;
        }


        h2 ::before{
            flex-grow: 0.3;
        }

       }

       

    @media screen and (max-width:375px){


        .inner{
            align-items: center;
        }


        .heading-left h1 {
            width: 110px;
        }


        .mv-txt-1{
            width: 196px;
            font-size: 28px;
        }

        .mv {
            padding: 10px 0 100px;
        }

        .mv-txt-2{
            width: 300px;
        }

        .survice-img{
            width: 200px;
            height: 200px;
        }


        .news-txt-box{
            width: 92%;
        }

        .about-box-2{
        margin-bottom: 0px;
        }

        .more-3{
            margin-top: 50px;
        }

        h2{
            margin-bottom: 80px;
        }

        .news-box img {
            width: 80%;
            height: 168px;
        }

        time{
            margin-right: 16px;
        }

        .category {
        margin-top: 18px;
        }

        .news-thema{
            margin-top: 22px;
        }


       .about-txt-2{
           margin-left: 0;
       }

       
       .service-ttl .line2{
           margin: 14px 0 0 18px;
       }

       .service-ttl .line {
        margin: 14px 17px 18px 0;
      }

      .survice-img-card p {
          margin-bottom: 50px;
      }

      .about-ttl .line{
        margin: 14px 16px 14px 0;
      }

      .about-ttl .line-2{
        margin: 14px 0 14px 16px;
      }    
      
      .about-box-1{
          margin-top: 80px;
      }

      .about-ttl h2{
        font-size: 28px;
      }

      .news-ttl h2{
        font-size: 28px;
      }

      .line1 {
        margin-top: 80px;
       }

       .news-inner {
        margin-top: 80px;
       }


      .news-ttl .line{
        margin: 14px 16px 14px 0;
      }

      .news-ttl .line-2{
        margin: 14px 0 14px 16px;
      }

    
    }
    
