


img{
    max-width: 100%;
    height: auto;
}

body {
    color: #333;
    font-family: YuGothic,'Yu Gothic',sans-serif;
}

.inner{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.heading-inner{
    display: flex;
    justify-content: space-between;
}

.heading-left h1{
    max-width: 130px;
    margin: 18px 0 19px;
}

.responsive{
    display: none;
}


.responsive-3{
    display: block;
}

.header-right{
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    padding: 15px 35px;
    background-color: #FFE000;
    border-radius: 24px;
    margin: 11px 0;
    color: #333333;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
}



.mv{
    padding: 80px 0 120px;
}

.mv-inner{
    display: flex;
    align-items: center;
}


.mv-txt-1 br{
    display: none;
}

.mv-txt-2 br{
    display: none;
}

.mv-txt-1{
    font-weight: bold;
    font-size: 36px;
    display: inline-block;
    margin-bottom: 32px;
    white-space: nowrap;
}

.mv-txt-2{
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 40px;
}


.mv-btn-box{
    display: flex;
}

.btn a{
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
}


.contact a{
    display: inline-block;
    background-color: #109954;
    color: #FFFFFF;
    padding: 15px 39px;
    margin-right: 10px;
    border-radius: 32px;
}

.request a{
    font-weight: bold;
    display: block;
    background-color: #FFFFFF;
    color: #109954;
    border: solid 2px #109954;
    padding: 15px 39px ;
    border-radius: 32px;
}


.service-ttl{
    max-width: 662px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  .service-ttl h2{
      font-weight: bold;
      font-size: 36px;
      width: 158px;
      margin-bottom: 109px;
  }
  
  .service-ttl .line{
    /* width: 200px; */
    width: 200px;
    height: 4px;
    background-color:green;
    margin: 18px 50px 0 0;
  }
  
  .service-ttl .line2{
    /* width: 200px; */
    width: 200px;
    height: 4px;
    background-color:green;
    margin: 18px 0 0 54px;
  }


.service-img-wrapper{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}


.survice-img-card{
    justify-content: space-between;
    /* display: flex; */
}

.survice-img{
    width: 200px;
}


.survice-img-card p{
    padding-top: 30px;
    font-size: 20px;
    line-height: 1.7;
    font-weight: bold;
    color: #333;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 120px;
}

/* .about-inner{
    padding: 0 70px;
} */


  .about-ttl{
      display: flex;
      max-width: 629px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
  }

  .about-ttl h2{
      width: 129px;
      font-size: 36px;
      font-weight: bold;
  }

  .about-ttl .line{
    width: 200px;
    height: 4px;
    background-color:green;
    margin: 18px 50px 0 0;
  }

  .about-ttl .line-2{
    width: 200px;
    height: 4px;
    background-color:green;
    margin: 18px 0 0 50px;
  }

  .about-box-1{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

  .about-txt-1{
      font-size: 16px;
      line-height: 1.6;
      max-width:  450px;
      /* width: 100%; */
      /* margin-top: 40px; */
      /* margin-left: 70px; */
  }

  .more-1{
      display: inline-block;
  }

  .about-box-img{
      max-width: 450px;
      margin-left: 40px;
  }
  /* .about-img-1{
    max-width: 450px;
    width: 100%; */
    /* margin-left: 40px; */
/* } */

  .about-img{
      box-shadow: 0 11px 20px #00000029;
  }

  .about-box-2-img{
    max-width: 450px;
  }

  .about-txt-2{
  max-width: 450px;
  margin-left: 40px;
  }

  .more-btn a{
    padding: 15px 55px;
    border-radius: 24px;
    background-color: #109954;
    color: #FFFFFF;
    line-height: 16px;
    font-size: 16px;
    display: inline-block;
}

.more-2{
    margin-top: 15px;
}

 /* .about-img-2{
     max-width: 41%;
     margin: 100px 40px 120px 70px;
 } */

 .about-box-2{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 120px;
 }

 .about-txt-2 h3{
     color: #109954;
     font-size: 32px;
     font-weight: bold;  
     /* margin-top: 130px;  */
 }

 .recruit-txt p{
     /* height: 97px; */
     line-height: 1.7;
     font-size: 16px;
     margin-top: 15px;
 }

.news a{
    color: #333333;
    text-decoration: none;
}

.news-ttl{
    display: flex;
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.news-ttl h2{
    width: 108px;
    font-size: 36px;
    font-weight: bold;
}

.news-ttl .line{
    width: 200px;
    height: 4px;
    background-color:green;
    margin: 18px 50px 0 0;
  }

  .news-ttl .line-2{
    width: 200px;
    height: 4px;
    background-color:green;
    margin: 18px 0 0 50px;
  }

  .border-line{
      display: block;
      margin: 0 auto;
  }


.line1{
    border: solid 1px #E8E8E8;
    margin-top: 101px;
}

.line2{
    border: solid 1px #E8E8E8;
    display: block;
    margin: 0 auto;
}


.news-box{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.news-box img{
    width: 300px;
    /* height: 168px; */
    margin-right: 34px;
}


time{
    font-weight: bold;
    font-size: 16px;
    /* width: 103px; */
    margin-right: 28px;
    margin-top: 36px;
}

.category{
    font-weight: bold;
    width: 101px;
    height: 26px;
    font-size: 14px;
    background-color: #FFFFFF;
    border-radius: 13px;
    border: solid 2px #109954;
    margin-top: 31px;
    color: #109954;
    line-height: 26px;
    text-align: center;
    display: inline-block;
}

.news-thema{
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.6;
}

.news-txt{
    /* width: 650px; */
    /* height: 44px; */
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 53px;
}



.more-3{
    margin-top: 65px;
    text-align: center;
}

.more-3 a{
    color: #FFFFFF;
}


footer{
    background-color: #E8E8E8;
    padding-bottom: 14px;
    margin-top: 100px;
    width: auto;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.footer-img img{
    /* width: 70px; */
    height: 70px;
}

.footer-list{
    height: 14px;
    display: flex;
    justify-content: space-around;
}

.footer-list a{
    text-decoration: none;
    color: #333333;
}

.footer-list li + li {
    border-left: 1px solid #333;
  }

  .footer-list li:nth-child(-n+3) {
    padding: 0 18px 0 ;
  }

  li:last-child a{
      margin-left: 18px;
  }


  small{
      display: block;
      text-align: center;
      font-size: 14px;
  }


  




